.WeatherForecast {
    text-align: center;
    margin-top: 8px;
    color: #919A9C;
}

.WeatherForecast-temperatureMin{
    opacity: 0.8;
}

.WeatherForecast-icon{
    padding-top: 1px;
    margin-bottom: -10px;
}