h6{
    color: #6FBBF8; 
}

h1, h3, .temperature, .description{
    color: #006EC5;
}

.search-bar{
    margin-bottom: 5px;
}

.city-search-button {
    background-color: #006EC5;
    border: 1px solid #006EC5;
    border-radius: 5px;
    color: #ffffff;
    margin: 0px 2px 0px 2px;
    padding: 6px 12px;
}
.city-search-button:hover {
    box-shadow: 1px 1px 10px;
    box-shadow: 0px 2px 6px 0px #4c658b;
    color: #ffffff;
    transition: ease-in-out 200ms;
}

.current-city{
    display: block;
    font-size: 42px;
    margin-bottom: 0;
    padding-left: 40px;
    padding-bottom: 10px;
}
.weather-icon{
    text-align: center;
}

.description{
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
}

.high-low-temp, .weather-details{
    color: #919A9C;
}
.current-temperature{
font-size: 50px;
}

.temperature{
    text-align: center;
    padding-top: 2px;
}

.temp-measurements{
position: relative;
top: -24px;
padding-left: 5px;
}

.weather-details{
    text-align: center;
    margin-bottom: 10px;
}

.sunrise {
    margin-left: 30px;
    margin-right: -30px;
}
.humidity{
    margin-left: 15px;
    margin-right: -30px;
}
